<style>
td {
  text-align: left;
  padding-left: 5px;
  padding-right   : 5px;
  max-width: 100px !important;
  word-wrap: break-word;
  border: 1px solid #ccc; 
  width: auto; 
}
Table {
  table-layout: fixed;  
}
th {
  border: 1px solid #ccc;
  font-weight: bold;
  background: #3c8dbc;
  color: #fff;
}
html, body {
  height: 100%;
}
.modal-dialog{
    position: relative;
    display: table; 
    overflow-y: auto;    
    overflow-x: auto;
    width: 60%;
    min-width: 300px;   
}
      
</style>
<div class="content-wrapper">
<!-- Main content -->
<section class="content">
	<div role="row" style="margin-left: 50px;">        
    <div class="bs-component" ng-init="init()">
        <h3>Customers List</h3>        
        <form class="form-inline">
            <div class="form-group">
                <label>Search</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>        
        <br>
        <table style="table-layout:fixed" class="table table-responsive">
            <thead>
                <tr>
                <th ng-click="sort('id')">Id
                    <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                 <th>Client
                    <span class="glyphicon sort-icon" ng-show="sortKey=='senior_manager'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th>VP Name
                    <span class="glyphicon sort-icon" ng-show="sortKey=='vp'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th>SVP
                    <span class="glyphicon sort-icon" ng-show="sortKey=='svp'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th>Director
					<span class="glyphicon sort-icon" ng-show="sortKey=='director'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>               
                <th width="10%">Department
                    <span class="glyphicon sort-icon" ng-show="sortKey=='department_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th width="24%">Email Id
                    <span class="glyphicon sort-icon" ng-show="sortKey=='emailid'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th width="24%">Email to send invoice
					<span class="glyphicon sort-icon" ng-show="sortKey=='emailtosendinvoice'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th>
                    Actions
                    <span class="glyphicon sort-icon" ng-show="sortKey=='vp'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="contact in contacts|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">				
				<td>{{ $index +1 }}</td>
				<td>{{ contact.senior_manager }}</td>
				<td>{{ contact.vp }}</td>
				<td>{{ contact.svp }}</td>
				<td>{{ contact.director }}</td>				
				<td>{{ contact.department_name }}</td>
				<td>{{ contact.emailid }}</td>
				<td>{{ contact.emailtosendinvoice }}</td>
                <td><span data-toggle="modal" data-target="#editCustomer" class="glyphicon glyphicon-edit icon-white" ng-click="edit(contact)"></span>
                    <span data-toggle="modal" data-target="#editCustomer" class="glyphicon glyphicon-trash icon-white" ng-model="checked" ng-click="delete(contact)" style="color:#FF0000;"></span>                    
                </td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
        <!-- Modal -->
		  <div class="modal fade" id="editCustomer" role="dialog">
		    <div class="modal-dialog">      
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Customer Details</h4>
		          <hr style="color: #123455;">
		        </div>
		        <div class="modal-body">
		          <form class="form" novalidate>
		                <div class="form-group col-xs-4">
		                    <label> VP Name:</label>
		                    <input type="text" name="vp" id="vp" ng-model="contact.vp" class="form-control" name='vp' ng-pattern="/^[a-zA-Z ]*$/" ng-readonly="deleteContact">
		                </div>
		                <div class="form-group col-xs-4">
		                    <label> SVP Name:</label>
		                    <input type="text" name="svp" id="svp" ng-model="contact.svp" class="form-control" ng-pattern="/^[a-zA-Z ]*$/" ng-readonly="deleteContact">
		                </div>
		                <div class="form-group col-xs-4">
		                    <label> Director:</label>
		                    <input type="text" name="director" id="director" ng-model="contact.director" class="form-control" ng-pattern="/^[a-zA-Z ]*$/" ng-readonly="deleteContact">
		                </div>
		                <div class="form-group col-xs-4">
		                    <label> Sr.Manager:</label>
		                    <input type="text" name="senior_manager" id="senior_manager" ng-model="contact.senior_manager" class="form-control" ng-pattern="/^[a-zA-Z ]*$/" ng-readonly="deleteContact">
		                </div>
		                <div class="form-group col-xs-4">
		                   <label> Department:</label>
		                    <input type="text" name="department_name" id="department_name" ng-model="contact.department_name" class="form-control"  ng-readonly="deleteContact">
		                </div>
		                <div class="form-group col-xs-4">
		                    <label> Email Id:</label>
		                    <input type="email" name="emailid" id="emailid" ng-model="contact.emailid" class="form-control" ng-readonly="deleteContact">
		                </div>
		                <div class="form-group col-xs-4">
		                    <label> Email to send invoice:</label>
		                    <input type="email" name="emailtosendinvoice" id="emailtosendinvoice" ng-model="contact.emailtosendinvoice" class="form-control" ng-readonly="deleteContact">
		                </div>          
		            </form>
		        </div>        
		        <div class="modal-footer" ng-show="editContact == true">
		          <button button type="button" class="btn btn-primary" ng-click="editContactDetails(contact)">Save</button>
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		        <div class="modal-footer" ng-show="deleteContact == true">
		          <button button type="button" class="btn btn-primary"  ng-click="deleted(contact)">Delete</button>
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>		      
		    </div>
		  </div>
		  <div class="alert alert-success" ng-show="updated">    	
  			<a class="close" ng-click="clean(form)" aria-label="close">&times;</a>
  				<strong>{{message}}</strong> 
		  </div>		  
    </div>         
</section>
</div>