<div class="wrapper" ng-controller="landingController">
  <header class="main-header" ng-show="authenticated">
    <a data-target="#data" ui-sref="data" class="logo">      
      <span class="logo-lg"><b>Dashboard</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <img src="" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Admin</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="" class="img-circle" alt="User Image">
                <p>
                  Admin - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="" ng-click="logout()" data-toggle="modal" data-target="#logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>          
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar" ng-show="authenticated">
	<section class="sidebar">
	<div class="user-panel">
        <div class="pull-left image">
          <img  class="" alt="">
        </div>
        <div class="pull-left info">
          <p></p>
          <!-- Status -->
          
        </div>
      </div>
      <ul class="sidebar-menu">
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a data-target="#data" ui-sref="data"><i class="fa fa-link"></i> <span>Overview</span></a></li>
        <!--<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>-->
        <li class="treeview">
          <a><i class="fa fa-link"></i><span>Customer</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a data-target="#register" ui-sref="register">Create</a></li>
            <li><a data-target="#viewall" ui-sref="viewall">View All</a></li>
          </ul>
        </li>
      </ul>      
    </section>    
  </aside>

 </div>